$orange: #ff5722;
$dark-orange: rgba(252, 101, 55, 0.91);
$light-orange:lighten($orange,30);
$med-orange:lighten($orange,10);
$white:#cfe8ef;
$off-white:#eceff1;
$black:#000;
$secondary-black:#3c3c3c;
$light-black:lighten($black,15);
$grey:#616161;

$font1: 'Raleway', sans-serif;