@import "global";
.mainBox{
  width: 100vw;
  min-height: 400px;
  height: auto;
  //border: 2px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

}
.innerBox {
  width: 90vw;
  min-height: 200px;
  height: auto;
  //border: 2px solid red;

  border-top: 1px solid $grey ;
  border-bottom: 1px solid $grey ;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;

}
.items{
  height: 200px;
  width: 450px;
  font-family: $font1;
  font-size: min(3.5rem,10vw);
  //border: 2px solid red;
  font-weight: bold;
  color:$grey;
  display: flex;
  align-items: center;
  text-align: center;
justify-content: center;
}
.items:nth-child(even){
  border-left: 1px solid $grey ;
  border-right: 1px solid $grey;
  color:$dark-orange;
}
.items:nth-child(1){
  //border-left: 1px solid $grey ;
  border-right: 1px solid $grey;
}
.items:nth-child(3){
  border-left: 1px solid $grey ;
  //border-right: 1px solid $grey;
}
