@import "global.scss";
.heroBox{
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  clip-path: polygon(100% 0, 100% 60%, 0% 100%, 0 100%, 0 0);
  background-color: $dark-orange;
  text-align: center;
}
.heroBox::before {
  content: "";
  background-image: url('/public/rec4.svg');
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.15;
}
.heroInner{
  min-height: 300px;
  height: auto;
  width:min(100%,800px);
  //background-color: $white;
  //border: 2px solid red;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  margin-top: 10%;

}
.heroText{
font-family: $font1;
  font-size: 4rem;
  font-weight:700;
  color:$off-white;
  padding: 10px 0;
}
.heroSubText{
  font-family: $font1;
  font-size: 1.5rem;
  color: $black;
  padding: 10px 0;

}
.sub{
  margin-top: 10px;
}
