@import "global";
.outerBox{
  height: 90vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.leftBox{
  width: 600px;
  min-height: 400px;
  height: auto;
  padding-left: 10%;
  //border: 2px solid red;
}
.rightBox{
  width: 600px;
  min-height: 400px;
  height: auto;
  //border: 2px solid red;
}
.heading{
  font-size: 3rem;
  font-weight: bold;
  color: $grey;
  padding: 0 20% 10px 0;
}
.subHeading{
  font-size: 1.2rem;
  padding: 0 50% 0 0;
}