@import 'global.scss';
.navBox{
  width: 100vw;
  min-height: 90px;
  height: auto;
  background-color:$white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: sticky;
  top: 0;
  z-index: 5;
  //flex-direction: column;

}
.navBoxResp{
  width: 100vw;
  min-height: 90px;
  height: auto;
  background-color:$white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: sticky;
  top: 0;
  z-index: 5;
  flex-direction: column;

}


.navLinkBox{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
.navLinkBoxResp{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}


.navItems{
  font-family: $font1;
  font-size: 1.5rem;
  padding: 10px;
  color:$secondary-black;
  font-weight: 700;

}
.navItems:hover{
  color: $black;
  cursor: pointer;
}
.callToAction{
  display: flex;
  align-items: center;
  justify-content: center;
}
.callToActionResp{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.logo{
  height: 60px;
  width: 130px;
}
.loginBtn{
  //background-color:$orange;
  font-family: $font1;
  border: 2px solid $orange;
  min-width: 100px;
  width: auto;
  height: 40px;
  //border: none;
  margin: 10px 10px;
  border-radius: 10px;
  color: $secondary-black;
  font-size: 20px;
}
.signupBtn{
  background-color:$dark-orange;
  //border: 2px solid $orange;
  font-family: $font1;
  min-width: 100px;
  width: auto;
  height: 40px;
  border: none;
  margin: 10px;
  border-radius: 10px;
  color: $off-white;
  font-size: 20px;
}
.menuIcon{
  height: 25px;
  width: 25px;
  position: absolute;
  right: 20px;
  top: 30px;
  display: none;
}

@media screen and (max-width: 960px) {
  .navLinkBox {
    display: none;
  }
  .callToAction {
    display: none;
  }
  .menuIcon {
    display: initial;
  }

}








