@import 'global.scss';
.navBox{
  width: 100vw;
  height: 70px;
  background-color: $white;
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.navLinkBox{
  display: flex;
  align-items: center;
  justify-content: center;
}
.callToAction{
  display: flex;
  align-items: center;
  justify-content: center;
}