@import "global";
.outerBox{
  height: 60vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: $med-orange;
  clip-path: polygon(0 0, 100% 25%, 100% 105%, 0% 100%);
  //border: 8px solid red;
}
.heading{
  font-size: 3rem;
  font-family: $font1;
  color:$white;
  font-weight: bold;
  padding: 10px;
}
.subHeading{
  font-size: 1.4rem;
  font-family: $font1;
  padding: 10px;

}
.easier{
  color: $light-black;
}
.button{
  background-color: $grey;
  color: $off-white;
  width: 200px;
  height: 35px;
  border-radius: 10px;
  border: none;
  font-size: 1.2rem;
  margin: 20px 0;
  font-family: $font1;


}