@import "global";
.subBox{
  height: auto;
  //min-width: 650px;
  width: auto;
  background-color: $white;
  display: flex;
  //align-items: center;
  justify-content: center;
  flex-direction: row;
  //border: 2px solid red;
  padding: 6px;
  border-radius: 10px;
  flex-wrap: wrap;

}
@media screen and (max-width:500px) {
  .subBox{
    flex-direction: column;
  }


}
.subInp{
  width: 300px;
  height: 35px;
  margin: 8px 10px;
  border-radius: 5px;
  border: none;
  padding: 0 5px;
  //font-family: $font1;
}
.subBtn{
  background-color:$orange;
  min-width: 100px;
  width: auto;
  height: 35px;
  border: none;
  margin: 8px 10px;
  border-radius: 10px;
  color: $white;
  font-size: 20px;
  font-family: $font1;
  //margin: 8px 0;
}
.google{
  background-color: $grey;
 min-width: 140px;
  width: auto;
  height: 35px;
  border: none;
  margin: 0 10px;
  padding-top: 4px;
  border-radius: 10px;
  color: $white;
  font-size: 20px;
  font-family: $font1;
  text-align: center;
  margin: 8px 10px;

}
.sub{
  width: auto;
}

